<% if user_signed_in? %>


  <!-- Page title -->
  <h1 class="page-title "mb-4">Your Quests</h1>

  <!-- Sticky action buttons -->
  <div class="quest-actions sticky-actions">
    <%= link_to "Add New Quest", new_task_path, class: "btn invite-btn" %>

    <%= simple_form_for :task, url: random_tasks_path do |f| %>
      <%= f.submit "Random Quest", class: "btn invite-btn" %>
    <% end %>
  </div>

  <!-- Task container -->
  <div class="quests-container">

    <!-- Pending invitations -->
    <% if current_user.pending_invitations.any? %>
      <% current_user.pending_invitations.each do |task| %>
        <%= render "shared/card_pending_invitation", task: task %>
      <% end %>
    <% end %>

    <!-- Visible tasks -->
    <% visible_tasks = (@tasks + @participating_tasks).uniq.select do |task|
         task.user == current_user || task.task_participants.exists?(user: current_user, status: "accepted")
       end.sort_by(&:created_at).reverse %>

    <% visible_tasks.each do |task| %>
      <% if task.completed %>
        <%= render 'shared/card_completed', task: task %>
      <% elsif task.ignored %>
        <%= render 'shared/card_frozen', task: task %>
      <% else %>
        <%= render 'shared/card_pending', task: task %>
      <% end %>
    <% end %>

  </div> <!-- /quests-container -->

<% else %>
  <%= render "public_home" %>
<% end %>
