<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1> Quests</h1>
      <% @tasks.each do |task| %>
        <div class="task">
          <p><strong>Task:</strong> <%= task.name %>
            <%= link_to edit_task_path(task), class: "edit_button" do %>
              ✏️
            <% end %>
          </p>
          <p><%= task.completed ? "✔" : "❌" %></p>
          <p><%= task.description %></p>
        </div>
      <% end %>

      <div class="button">
        <%= link_to "Main Menu", root_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
