<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <%= render "shared/taskform", h1: "Add a quest", submit: "Create" %>

      <!-- Random section -->
      <div class="mb-2 p-2">
        <h3 id="new-quest-h3">Feeling lucky?</h3>
        <p id="new-quest-p">Add a random quest instead!</p>

        <div class="buttons d-flex justify-content-center align-items-center">
          <%= simple_form_for :task, url: random_tasks_path do |f| %>
            <%= f.submit 'Random', class: "btn btn-primary p-3" %>
          <% end %>
        </div>

        <!-- RPG Popup pour Random Quest -->
        <% if notice.present? && request.path.include?("random") %>
          <div id="rpg-popup-backdrop"></div>
          <div class="rpg-popup auto-hide">
            <h5 class="rpg-popup-title">
              <%# Tu peux différencier le titre si tu veux %>
              <% if notice == "Random Quest successfully created!" %>
                Quest Successfully Created!
              <% end %>
            </h5>
            <p class="rpg-popup-text"><%= notice %></p>
            <%= link_to "View All Quests", tasks_path, class: "btn btn-primary mt-3" %>
          </div>
        <% end %>


    </div>
  </div>
</div>
