<% if user_signed_in? %>
  <div class="dashboard d-flex flex-column align-items-center gap-4 my-5">

    <!-- Liquid Hover - Add Special Quest -->
    <%= link_to new_task_path, class: "btn liquid" do %>
      <span>Add Special Quest</span>
    <% end %>

    <!-- Hologram Scan - Update or Log Mood -->
    <% if current_user.user_mood %>
      <%= link_to edit_user_mood_path(current_user.user_mood), class: "btn hologram hologram-cyan" do %>
        <span data-text="Update Mood">Update Mood</span>
        <div class="scan-line"></div>
      <% end %>
    <% else %>
      <%= link_to "Log Mood", new_user_mood_path, class: "btn hologram hologram-cyan" do %>
        <span data-text="Log Mood">Log Mood</span>
        <div class="scan-line"></div>
      <% end %>
    <% end %>

    <!-- Quick Hover - View Quests -->
    <%= link_to tasks_path, class: "btn btn-flip" do %>
      <span>View Quests</span>
      <span>View Quests</span>
      <span>View Quests</span>
      <span>View Quests</span>
    <% end %>

    <!-- Quick Hover - Manage Friends -->
    <%= link_to friendships_path, class: "btn quick-hover quick-hover-green" do %>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Manage Friends
    <% end %>

    <%= link_to chat_rooms_path, class: "btn btn-explode" do %>
      Chat Rooms
      <span class="particle"></span>
      <span class="particle"></span>
      <span class="particle"></span>
      <span class="particle"></span>
    <% end %>


  </div>
<% else %>
  <%= render "public_home" %>
<% end %>
