<div class="moods-card">
  <ul>
    <li> <i class="fa-solid fa-face-smile-wink"></i> Amazing
      <%= simple_form_for @user_mood do |f| %>
        <%= f.hidden_field :mood_type, value: "Amazing" %>
        <%= f.submit "Select", class: "btn btn-warning" %>
      <% end %>
    </li>

    <li> <i class="fa-solid fa-face-smile-wink"></i> Good
      <%= simple_form_for @user_mood do |f| %>
        <%= f.hidden_field :mood_type, value: "Good" %>
        <%= f.submit "Select", class: "btn btn-warning" %>
      <% end %>
    </li>

    <li> <i class="fa-solid fa-face-smile-wink"></i> Ok'ish
      <%= simple_form_for @user_mood do |f| %>
        <%= f.hidden_field :mood_type, value: "Ok'ish" %>
        <%= f.submit "Select", class: "btn btn-warning" %>
      <% end %>
    </li>

        <li> <i class="fa-solid fa-face-smile-wink"></i> Bad
      <%= simple_form_for @user_mood do |f| %>
        <%= f.hidden_field :mood_type, value: "Bad" %>
        <%= f.submit "Select", class: "btn btn-warning" %>
      <% end %>
    </li>

  </ul>
</div>


<div class="back-link">
  <%= link_to root_path do %>
  <p> <i class="fa-solid fa-walkie-talkie"></i> Back to Homepage</p>
  <% end %>
</div>
