
<h2><%= current_user.user_mood&.mood_type %></h2>


<div class="moods-card">
  <ul>

    <li> <i class="fa-solid fa-face-smile-wink"></i> Amazing
      <%= simple_form_for @user_mood do |f| %>
        <%= f.hidden_field :mood_type, value: "Amazing" %>
        <%= f.submit "Select", class: "btn btn-warning" %>
      <% end %>
    </li>




    <li> <i class="fa-solid fa-face-smile-wink"></i> Amazing
      <%= simple_form_for @user_mood do |f| %>
        <%= f.submit "Select", class: "btn btn-warning" %>
      <% end %>
    </li>

    <li> <i class="fa-solid fa-face-smile-beam"></i> Good
      <%= simple_form_for @user_mood do |f| %>
        <%= f.submit "Select", class: "btn btn-warning" %>
      <% end %>
      </li>

    <li> <i class="fa-solid fa-face-smile-beam"></i> Ok'ish
      <%= simple_form_for @user_mood do |f| %>
        <%= f.submit "Select", class: "btn btn-warning" %>
      <% end %></li>

    <li> <i class="fa-solid fa-face-smile-beam"></i> Bad
      <%= simple_form_for @user_mood do |f| %>
        <%= f.submit "Select", class: "btn btn-warning" %>
      <% end %></li>
  </ul>
</div>


<div class="back-link">
  <%= link_to root_path do %>
  <p> <i class="fa-solid fa-walkie-talkie"></i> Back to Homepage</p>
  <% end %>
</div>
