<!DOCTYPE html>
<html>
  <head>
    <title>DailyQuesting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

  </head>

  <body class="<%= params[:controller] %> <%= params[:action] %>">
    <%= render "shared/navbar" %>
    <%= render "shared/heroheader" if user_signed_in? %>
<!-- <%= render "shared/flashes" %> comment it out to avoid doble -->
    <%= yield %>
    <%= render "shared/footer" if user_signed_in? %>
  </body>
</html>
